.hero-container {
  gap: 10px;
  margin:15px 0;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #dff6ff, #c4e0e5);
  border-radius: 12px;
  padding: 10px 20px;
  width: 90%;
  margin:auto auto;
}

.banner-content {
  flex: 1;
  text-align: left;
}

.banner-title {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.banner-desc {
  font-size: 16px;
  color: #555;
}

.banner-price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.banner-button {
  background:rgb(0, 92, 168);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.banner-button:hover {
  background:rgb(0, 94, 117);
}

.banner-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.banner-image {
  width: 300px;
  height: auto;
}

@media (max-width: 600px) {
  .banner {
    flex-direction: column;
    justify-content:center;
    align-items:center;
  } 
}
